<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>BookListByPageServlet</servlet-name>
        <servlet-class>com.kgc.servlet.BookListByPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.GetBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerAddBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.PerAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerUpdateBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.PerUpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeteleBookServlet</servlet-name>
        <servlet-class>com.kgc.servlet.DeteleBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeteleBookServlet</servlet-name>
        <url-pattern>/delete_book.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/update_book.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerUpdateBookServlet</servlet-name>
        <url-pattern>/pre_update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add_book.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerAddBookServlet</servlet-name>
        <url-pattern>/pre_add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookServlet</servlet-name>
        <url-pattern>/detail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookListByPageServlet</servlet-name>
        <url-pattern>/list.do</url-pattern>
    </servlet-mapping>
</web-app>
